<div class="container">
    <img src="/assets/images/profile.jpg">
    <div class="details" >
        <div *ngFor="let user of users">
            <!-- <div *ngIf="user.id == currentUserId"> -->
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <div class="info">
                    <fa-icon  [ngStyle]="{'color': '#1d4226'}" [icon]="faMailBulk"></fa-icon>
                    {{user.email}}
                </div>
                <div class="info">
                        <fa-icon  [ngStyle]="{'color': '#1d4226'}" [icon]="faCake"></fa-icon>
                    {{user.birth}}
                </div>
                <div class="info">
                        <fa-icon  [ngStyle]="{'color': '#1d4226'}" [icon]="faHome"></fa-icon>
                    {{user.location}}
                </div>
            </div>
        </div>
        
</div>