<div class="container">
    <h3 class="title">
        Log in
    </h3>
    <div class="form">
        <form (ngSubmit)="onSubmit()" >
            <div class="input">
                <label for="email">Email: </label>
                <input 
                    type="text"
					name="email"
                    [(ngModel)] = "email"
                    required
                >
            </div>
            <div class="input">
                <label>Password: </label>
                <input 
                    type="password"
					name="password"
                    [(ngModel)] = "password"
                    required
                >
            </div>
			
			<div class="btn-container">
				<input type="submit" value="Login" class="submit-button">
			</div>
        </form>
    </div>
</div>