<div class="main">
    <app-login></app-login>
</div>

<div class="main">
<div class="container">
    <h3 class="title">
        Registration
    </h3>
    <div class="form">
        <form (ngSubmit)="onSubmit()" >
            <div class="input">
                <label>First name: </label>
                <input 
                    type="text"
                    placeholder="Add first name"
                    [(ngModel)] = "user.firstName"
                    name="firstName"
                >
            </div>
            <div class="input">
                <label>Last name: </label>
                <input 
                    type="text"
                    placeholder="Add last name"
                    [(ngModel)] = "user.lastName"
                    name="lastName"
                >
            </div>
            <div class="input">
                <label>Email: </label>
                <input 
                    type="text"
					placeholder="Add email"
					[(ngModel)] = "email"
                    [(ngModel)] = "user.email"
					name="email"
                >
            </div>
            <div class="input">
                <label>Password: </label>
                <input 
                    type="password"
					placeholder="Add password"
					[(ngModel)] = "password"
					name="password"
                >
            </div>
            <div class="input">
                <label>Picture: </label>
                <input 
                    type="text"
                    placeholder="Add a picture"
                    [(ngModel)] = "user.pic"
                    name="pic"
                >
            </div>

			<div class="btn-container">
				<input type="submit" value="Submit" class="submit-button">
			</div>
        </form>
    </div>
</div>

</div>

