<div class="container">
    <div class="search">
        <form action="" class="">
            <input type="text" placeholder="Search" id="search-form">
        </form>
        <button class="search-button">
            <fa-icon  [ngStyle]="{'color': '#1d4226'}" [icon]="faSearch"></fa-icon>
        </button>
    </div>
    <div class="create">
        <fa-icon  [ngStyle]="{'color': '#1d4226'}" [icon]="faPlus"></fa-icon>
        <div class="text"> Create new group</div>
    </div>

<!-- rooms -->
    <div class="room" *ngFor="let room of rooms">
        <div class="active" *ngIf="room.active">
            <img [ngStyle]="{'boxShadow': '0 0 7px green'}"  src="{{room.pic}}" alt="{{room.name}}">
        </div>
        <div class="not-active" *ngIf="!room.active">
            <img  [ngStyle]="{'boxShadow': '0 0 7px red'}" src="{{room.pic}}" alt="{{room.name}}">
        </div>
        <div class="infos">
            <div>{{room.name}}</div>
            <div class="members">{{room.members}}</div>
        </div>
        <a>
            <i (click)="editRoom($event, room)">
                <fa-icon [ngStyle]="{'color': '#1d4226'}" [icon]="faPencil"></fa-icon>
            </i>
        </a>
        <div *ngIf="editState && roomToEdit?.id == room.id" class="container">
            <div class="form">
                <form (ngSubmit)="updateRoom(room)" >
                    <i (click)="clearState()">
                        <fa-icon [ngStyle]="{'color': 'red'}" [icon]="faTimes"></fa-icon>
                    </i>
                    <div class="input">
                        <label>Name</label>
                        <input 
                            type="text"
                            placeholder="Add name"
                            [(ngModel)] = "room.name"
                            name="name"
                        >
                    </div>
                    <div class="input">
                        <label>Access</label>
                        <input 
                            type="text"
                            placeholder="Add access"
                            [(ngModel)] = "room.access"
                            name="access"
                        >
                    </div>
                    <div class="input">
                        <label>Picture</label>
                        <input 
                            type="text"
                            placeholder="Add a picture"
                            [(ngModel)] = "room.pic"
                            name="pic"
                        >
                    </div>
                    <div class="input">
                        <label>Members</label>
                        <input 
                            type="text"
                            placeholder="Add members"
                            [(ngModel)] = "room.members"
                            name="members"
                        >
                    </div>
                    <input type="submit" value="Update" class="submit">
                    <input (click)="deleteRoom($event, room)" type="submit" value="Delete" class="submit">
                </form>
            </div>
        </div>
    </div>
</div>


<!-- traversi - tutorial1 35:11 ng if ellenorzes -->